body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient (135deg #faffae, 0% #43c6ac 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vj;
 margin: 0;
 overflow: hidden;

}

.calculator-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20p x rgba (0, 0, 0, 0.1)
  text-align: center;
  width: 300px;
  animation: slideDown ls ease-out;
  animation-duration: 1s;

}

@keyframes slideDown{
  from{
    transform: translateY(-50%)
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

h1 {
  color: #333;
   animation: rainbow 2s infinite;

   @keyframes rainbow {
    0%, 100% { color: red;}
    14% { color: orange;}
    28% { color: yellow;}
    42% { color: green;}
    57% { color: blue;}
    71% { color: indigo;}
    85% { color: violet;}
   }

   label {
    display: block;
    margin-top 10px
    color: #666;
   }

   input{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;

   }

   input: focus{
    box-shadow: 0 0 10px rgba(66, 198, 172, 0.5);

   }

   button {
    padding: 10px 20px;
    background-color: #809bce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgrond-color 0.3s ease, transform 0.3s ease;

   }

   button: active{
    trasform: scale(1);
   }

   p {
    margin-top: 20px;
    color: #333;
    font-size: 1.2em;

   }
   